body{
    background-image: url("img/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.floating_window{
    position: absolute;
    top: 100px;
    left: 500px;
    z-index: 1;
    width: 800px;
    height: 600px;
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgba(212, 232, 255, 0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.3) inset;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.window_content{
    width: 98%;
    height: 95%;
    background-color: rgb(241, 241, 241); 
    margin-bottom: 7px;
    display: inline;
}

.window_content h1{ 
    margin: 15px;
}

.window_header{
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    width: 96%;
    height: 30px;
    cursor: grab;
}

.window_title{
    margin-right: auto;
}

.window_options{
    margin:0;
}

.close_window{
    font-size: large;
    margin-bottom: 4px;
    width: 40px;
    background-color: rgba(255, 65, 65, 0.479);
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 30px;
    color: rgb(236, 236, 236);
    cursor: pointer;
}

.icon img:hover{
    background-color: rgba(212, 232, 255, 0.1);
}

.icon img{
    height: 100%;
}